@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table-column;
  text-align: center;
}

*{
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-shadow: 3px 3px 0 black;
  word-wrap: break-word;
}
